# Node Environment
NODE_ENV=development
PORT=5001
SECRET_KEY=your-secret-key-at-least-32-chars
JWT_SECRET_KEY=your-jwt-secret-key-at-least-32-chars

# MongoDB connection string
# MONGODB_URI=mongodb://localhost:27017/the_clubs
MONGODB_URI=mongodb+srv://nehansh100502_db_user:m0xCP8kuAFg8feA1@cluster0.nv1kdu1.mongodb.net/

# Allowed CORS Origins (Comma-separated)
CORS_ORIGINS=http://localhost:5173,http://localhost:80,http://127.0.0.1:5174

# Demo password used for seeded users
DEMO_PASSWORD=password
# mongodb+srv://<db_username>:m0xCP8kuAFg8feA1@cluster0.nv1kdu1.mongodb.net/

# nehansh100502_db_user

# m0xCP8kuAFg8feA1